/* media queries */
@media (max-width: 800px) {
	.header {
		height: auto;
		width: auto;
		float: none;
		position: static;
	}

	#articles-list {
		width: auto;
		float: none;
	}

	.about, .who {
		display: none;
	}
}