/* media queries */
@media (max-width: 800px) {
	body {
		font-size: 16px;
	}

	header {
		height: auto;
		width: auto;
		float: none;
		position: static;
	}

	#articles-list {
		width: auto;
		float: none;
		padding-left: 0;
	}

	.about, .who {
		display: none;
	}
}

@media (max-width: 480px) {
	body {
		font-size: 12px;
	}

	header {
		font-size: 3em;
	}
}