---
layout: default
title: etc
---
<aside class="header">
    <h1>etc.</h1>
    <p class="palette">This theme is from <a href="http://www.colourlovers.com/">ColourLovers.</a></p>
    <p> It's called <a class="palette-title" href=""></a> <a class="color-button" href="#">Change it</a></p>
    <p class="about">
        Welcome to my blog. Sometimes I write about games. Sometimes I write about design. Other times I write about other stuff.
    </p>
    <a href="http://robertvinluan.com" class="who">http://robertvinluan.com</a>
</aside>
<div id="articles-list">
    <ul>
    	{% for post in site.posts %}
        <li class="colored">
            <a href="{{ post.url }}">
                <article>
                    <h1 class="title">{{ post.title }}</h1>
                    <h2 class="subtitle">{{ post.subtitle }}</h2>
                </article>
            </a>
        </li>
        {% endfor %}
        {% capture total_posts %} 
        	{{ site.posts | size | minus:5 }}
        {% endcapture %}
        {% if total_posts contains '-' %}
        	{% for i in (0..4) %}
        		<li class="colored dummy-post">
        			<article></article>
        		</li>
        	{% endfor %}
        {% endif %}
    </ul>
</div>