---
layout: default
---
{% if page.image %}
<div id="headerImage">
	<img src="{{ page.image }}">
</div>
{% endif %}
<nav id="topBar">
	<div class="colored home"><a href="/">&lt;</a></div>
	<div class="colored"></div>
	<div class="colored"></div>
	<div class="colored"></div>
	<div class="colored"></div>
</nav>
<div id="main">
	<span class="date">{{page.date | date: "%B %d, %Y" }}</span>
    <h1>{{ page.title }}</h1>
    {% unless page.show_subtitle %}
		<h2>{{ page.subtitle }}</h2>
    {% endunless %}
	{{ content }}
	<div class="sig">
		<p>&mdash; <a href="https://twitter.com/RobertVinluan">@RobertVinluan</a></p>
	</div>
</div>